[
 {lager, [
    {crash_log,"crash.log"},
    {colored, true},
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [
        {file,"lager_error.log"}, {level,error}, {size,10485760}, {date,"$D0"}, {count, 5}
      ]},
      {lager_file_backend, [
        {file,"lager_info.log"}, {level,info}, {size,10485760}, {date,"$D0"}, {count, 5}
      ]}
    ]}
  ]},
  
  {kraken,[
   {listen_ip, {{listen_ip}} },
   {tcp_server_port, {{tcp_server_port}} },
   {max_tcp_clients, {{max_tcp_clients}} },
   {router_min_fanout_to_warn, {{router_min_fanout_to_warn}} },
   {router_min_publish_to_topics_to_warn, {{router_min_publish_to_topics_to_warn}} },
   {num_router_shards, {{num_router_shards}} }
  ]}
   
].

